# Rust build
target/**

# Node cache
node_modules

# Tree-sitter ouptut
build/
.build/
log.html
*.wasm
fuzzer-out/

# Fuzzer items
tree-sitter-src/
fuzzer/cache/
fuzzer/corpus
fuzzer/artifacts
**.log
**.out
**.dSYM

# Other repos
repositories/

# Clang files
compile_commands.json
