# C/C++ language server cache
.ccls-cache/**

# Tree-sitter ouptut
.build/
log.html
fuzzer-out/

# Fuzzer items
tree-sitter-src/
fuzzer/failures/
fuzzer/corpus
fuzzer/artifacts
**.log
**.out
**.dSYM

# Windows things
*.exp
*.lib

# Other repos
repositories/

# Editor files
compile_commands.json
.vscode/
*.swp

# No need to support ancient python
setup.py

# Configuring includes for autocompletion in C files
.clangd

# ======================================================================
# Sourced from tree-sitter-rust
# https://github.com/tree-sitter/tree-sitter-rust/blob/master/.gitignore
# ======================================================================
# Rust artifacts
Cargo.lock
target/

# Node artifacts
build/
prebuilds/
node_modules/
*.tgz

# Swift artifacts
.build/

# Go artifacts
go.sum
_obj/

# Python artifacts
.venv/
dist/
*.egg-info
*.whl

# C artifacts
*.a
*.so
*.so.*
*.dylib
*.dll
*.pc

# Example dirs
/examples/*/

# Grammar volatiles
*.wasm
*.obj
*.o
