[submodule "submodules/tree-sitter-bash"]
	path = submodules/tree-sitter-bash
	url = https://github.com/tgross35/tree-sitter-bash.git
	branch = patch-1
	shallow = true
[submodule "submodules/tree-sitter-PowerShell"]
	path = submodules/tree-sitter-PowerShell
	url = https://github.com/tgross35/tree-sitter-PowerShell.git
	branch = add-ts-package-config
	shallow = true
[submodule "submodules/tree-sitter-perl"]
	path = submodules/tree-sitter-perl
	url = https://github.com/tgross35/tree-sitter-perl.git
	branch = patch-1
	shallow = true
[submodule "submodules/tree-sitter-python"]
	path = submodules/tree-sitter-python
	url = https://github.com/tree-sitter/tree-sitter-python.git
	shallow = true
[submodule "submodules/tree-sitter-regex"]
	path = submodules/tree-sitter-regex
	url = https://github.com/tree-sitter/tree-sitter-regex.git
	shallow = true
