on:
  workflow_dispatch:
  pull_request:
  push:

env:
  RUST_BACKTRACE: 1
  CI: 1

jobs:
  codestyle:
    name: codestyle & generated files
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v4
      - uses: taiki-e/install-action@just
      - uses: actions/setup-node@v4
        with:
          node-version: 18
      - name: Install dependencies
        run: |
          pip install ruff black
          sudo apt-get update
          sudo apt-get install -y luarocks
          sudo luarocks install luacheck
      - name: Get npm cache directory
        id: npm-cache-dir
        shell: bash
        run: echo "dir=$(npm config get cache)" >> ${GITHUB_OUTPUT}
      - uses: actions/cache@v4
        id: npm-cache
        with:
          path: ${{ steps.npm-cache-dir.outputs.dir }}
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: ${{ runner.os }}-node-
      - run: just setup
      - name: Verify generated files are up to date (error)
        run: just --verbose ci-validate-generated-files
      - name: Check codestyle
        run: just --verbose ci-codestyle

  test:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 15
    strategy:
      fail-fast: true
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
    steps:
      - uses: actions/checkout@v4
      - uses: taiki-e/install-action@just
      - uses: actions/setup-node@v4
        with:
          node-version: 18
      - name: Get npm cache directory
        id: npm-cache-dir
        shell: bash
        run: echo "dir=$(npm config get cache)" >> ${GITHUB_OUTPUT}
      - uses: actions/cache@v4
        id: npm-cache
        with:
          path: ${{ steps.npm-cache-dir.outputs.dir }}
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: ${{ runner.os }}-node-
      - name: Setup nvim
        run: |
          printenv | sort
          # Run with sudo so we can do the install
          just_exe=$(which just)
          CI="$CI" sudo "$just_exe" --verbose ci-setup-nvim
          CI="$CI" sudo echo "$CI"
      - run: just setup --locked
      - name: Configure
        run: just --verbose configure-tree-sitter
      - name: Run tests
        run: just --verbose test
      - name: Check if generated files are up to date (warn only)
        run: just --verbose ci-validate-generated-files 0
