name: Fuzz Parser

on:
  push:
    paths:
      - src/scanner.c
      - .github/workflows/fuzz.yaml
  pull_request:
    paths:
      - src/scanner.c
      - .github/workflows/fuzz.yaml
  workflow_dispatch:

env:
  RUST_BACKTRACE: 1
  CI: 1

jobs:
  test:
    name: Parser fuzzing
    runs-on: ubuntu-latest
    timeout-minutes: 25
    steps:
      - uses: actions/checkout@v4
      - uses: taiki-e/install-action@just
      - name: Get npm cache directory
        id: npm-cache-dir
        shell: bash
        run: echo "dir=$(npm config get cache)" >> ${GITHUB_OUTPUT}
      - uses: actions/cache@v4
        id: npm-cache
        with:
          path: ${{ steps.npm-cache-dir.outputs.dir }}
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: ${{ runner.os }}-node-
      - run: |
          npm --version
          npx --version
          clang --version
      - run: just setup
      - run: just fuzz
      - name: Print failures
        if: always()
        run: ls fuzzer/failures/*  |
          xargs -IFNAME sh -c 'echo "\nContents of FNAME:" && base64 -i FNAME'
